<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>To Do List</h1>
    <h3>There are no To Dos yet!</h3>
    <ul id="to-do-list">
        <form id="to-do">
          <hr class="solid" />
          <div class="form">
            <input required="required" type="text" value="" id="inp" />
            <button type="submit" value="submit " id="btn">ADD TO DO</button>
          </div>
        </form>
      </li>
    </ul>
  </body>
</html>
